<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>listeners.DBConnectionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formController</servlet-name>
        <servlet-class>controller.formController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Odontogramas</servlet-name>
        <servlet-class>info.sudr.file.Odontogramas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirRadiografia</servlet-name>
        <servlet-class>controller.subirRadiografia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargar</servlet-name>
        <servlet-class>info.sudr.file.cargar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrar</servlet-name>
        <servlet-class>info.sudr.file.borrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formController</servlet-name>
        <url-pattern>/formController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Odontogramas</servlet-name>
        <url-pattern>/Odontogramas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirRadiografia</servlet-name>
        <url-pattern>/subirRadiografia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargar</servlet-name>
        <url-pattern>/cargar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrar</servlet-name>
        <url-pattern>/borrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
