<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="OdontogramasPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entity.Plantratamiento</class>
    <class>entity.Tratamiento</class>
    <class>entity.DiagnosticoHasPlantratamiento</class>
    <class>entity.DatosconsultaHasDatosbasicos</class>
    <class>entity.Datosbasicos</class>
    <class>entity.Datosconsulta</class>
    <class>entity.Paciente</class>
    <class>entity.Medico</class>
    <class>entity.Examenfisicoestomatologico</class>
    <class>entity.Diagnostico</class>
    <class>entity.Evolucion</class>
    <class>entity.Municipios</class>
    <class>entity.Departamentos</class>
    <class>entity.Profesiones</class>
    <class>entity.Docente</class>
    <class>entity.Diente</class>
    <class>entity.Radiografia</class>
    <class>entity.DatosconsultaHasDiente</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://127.0.0.1:3306/odontogramas"/>
      <property name="javax.persistence.jdbc.password" value="123456"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
